// Import responsive

$darkColor: #000; // Dark color: Black
$bd: 1px solid $darkColor;  // Border
$roundCorners: 3px; // Round corner radius
$tinyShadow: -4px 4px 0px $darkColor; // Box shadow for small containers
$bigShadow: -7.5px 7.5px 0px $darkColor; // Box shadow for bigger containers

* {
   outline: none;
   box-sizing: border-box;
   text-decoration: none !important;
   // font-family: 'Notable', sans-serif;
   // font-family: 'Abril Fatface', cursive;
   font-family: 'DM Serif Display', serif;
}

body {
   margin: 0;
   padding: 0;
}

// Each Section/Container
.section {
   width: 100%;
   max-width: 1440px;
   min-height: 100px;
   background-color: #fff;
   color: $darkColor;
   margin: 1em auto;
}

// Section Break
hr {
   width: 50%;
   border: .5px solid #bbb;
   margin: 25px auto;
   text-align: center;
}

// First Introduction
.intro {
   height: 90vh;
   margin-top: 0;
   display: flex;
   justify-content: space-around;
   align-items: center;
   >* {
      width: 50%;
      text-align: center;
      // border: 1px solid $darkColor;
   }
   // Intro Left:  Name, Title & Social
   &__text {
      text-align: left;
      // border: 1px solid $darkColor;
      >* { 
         width: 50%; 
         margin: 15px auto;
         // border: 1px solid $darkColor;
      }
   }
   // Social Accounts
   &__social {
      width: 50%; height: 45px;
      display: flex;
      justify-content: start;
      align-items: center;
      >* {
         width: 45px; min-width: 45px; 
         height: 45px;
         box-shadow: $tinyShadow;
         border-radius: $roundCorners;
         margin: 7.5px;
         border: $bd;
         display: flex;
         justify-content: center;
         align-items: center;
         img { 
            width: 30px; 
            height: 30px;
         }
      }
   }
   // Intro Right: Profile Image/Illustration
   &__img {
      img {
         width: 250px;
         height: 250px;
         border-radius: 50%;
      }
   }
}

// Scroll Down Icon
.scroll-down {
   width: 100px;
   height: 100px;
   margin: -115px auto 0 auto;
   // border: 1px solid $darkColor;
   text-align: center;
}

// Bio Container
.bio {
   // border: 1px solid $darkColor;
   &__text {
      width: 60%;
      padding: 1.5em;
      box-shadow: $bigShadow;
      border-radius: $roundCorners;
      border: $bd;
      margin: 0 auto;
   }
   &__icon {
      width: 75px;
      height: 75px;
      background-color: #fff;
      margin: -36px auto 0 auto;
      border-radius: 50%;
      img {
         width: 100%;
         border-radius: 50%;
      }
   }
}

// Timeline: Experience
.experience {
   text-align: center;
   min-height: 100px;
   padding-bottom: 1em;
   // border: 1px solid $darkColor;
   h1 {
      margin: 0 auto .5em auto;
   }
   &__container {
      width: 60%;
      box-shadow: $bigShadow;
      border-radius: $roundCorners;
      border: $bd;
      margin: 0 auto;
   }
   &__current {
      padding: 1em;
      width: 100%;
      // border: 1px solid red;
      >* {
         margin: .25em .5em .75em .5em;
      }
      &__link {
         width: 150px;
         height: 40px;
         line-height: 40px;
         background-color: #fff;
         display: block;
         border: $bd;
         margin: .5em auto;
         border-radius: $roundCorners;
      }
   }
   &__list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: .25em;
      &__item {
         width: 20px; height: 20px;
         cursor: pointer;
         margin: 0 .5em;
         border-radius: 50%;
         border: $bd;
         display: flex;
         align-items: center;
         justify-content: center;
         z-index: 1;
         background-color: #fff;
         span {
            display: block;
            width: 80%;
            height: 80%;
            border-radius: 50%;
         }
         &--active {
            width: 30px; height: 30px;
            span {
               background-color: $darkColor;
            }
         }
      }
   }
   // Time-line
   hr {
      width: 85%;
      border: 1.5px solid $darkColor;
      border-radius: 1.5px;
      margin: 0 auto;
      position: relative;
      top: calc(-15.75px - .3em);
      z-index: 0;
   }
}

// Projects: Top Projects
.projects {
   width: 100%;
   padding: 0 2em;
   text-align: center;
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      margin: 1em 0 2em 0;
   }
   &__project {
      max-width: 275px;
      padding: 1em;
      box-shadow: $bigShadow;
      border-radius: $roundCorners;
      border: $bd;
      margin: 0 auto;
      // >* {
      // border: 1px solid $darkColor;
      // }
      .icon {
         width: 75px;
         height: 75px;
         margin: 0 auto;
      }
      .name {
         height: 50px;
         font-size: 1.5em;
         font-weight: bold;
         line-height: 50px;
      }
      .desc {
         height: 150px;
         overflow: hidden;
      }
   }
   &__more {
      width: 150px;
      height: 50px;
      cursor: pointer;
      box-shadow: $tinyShadow;
      border-radius: $roundCorners;
      border: $bd;
      line-height: 47.5px;
      margin: 1.5em auto;
   }
}

// Skills: List of skills and tools
.skills {
   text-align: center;
   padding: 0 2em;
   h1 {
      margin: 0;
   }
   &__container {
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__side {
      width: 325px;
      margin: 0 3em;
   }
   &__list {
      width: 325px;
      padding: 1em;
      box-shadow: $bigShadow;
      border-radius: $roundCorners;
      border: $bd;
   }
   &__icon {
      width: 50px; height: 50px;
      border-radius: 50%;
      background-color: $darkColor;
      padding: .75em;
      margin: -25px 0 0 -25px;
   }
}

// Interests
.interests {
   width: 100%;
   padding: 0 2em;
   text-align: center;
   &__container {
      display: flex;
      justify-content: center;
      align-items: center; 
      margin: 1em 0 2em 0;
   }
   &__interest {
      width: 200px;
      height: 225px;
      padding: .75em;
      box-shadow: $bigShadow;
      border-radius: $roundCorners;
      border: $bd;
      margin: 0 3em;
      .icon {
         width: 75px;
         height: 100px;
         padding: .5em;
         margin: 0 auto;
      }
      .name {
         height: 100px;
         font-size: 1.25em;
         font-weight: bold;
         display: flex;
         justify-content: center;
         align-items: center; 
      }
   }
   &__more {
      max-width: 200px;
      height: 50px;
      box-shadow: $tinyShadow;
      border-radius: $roundCorners;
      border: $bd;
      line-height: 47.5px;
      margin: 1.5em auto;
   }
}

// Contact
.contact {
   width: 100%;
   text-align: center;
   // border: 1px solid $darkColor;
   display: flex;
   justify-content: center;
   align-items: center; 
   &__btn {
      width: 150px;
      height: 50px;
      cursor: pointer;
      box-shadow: $tinyShadow;
      border-radius: $roundCorners;
      border: $bd;
      font-weight: bold;
      line-height: 47.5px;
      margin: 1em auto;
   }
}

// Footer
.footer {
   height: 100px;
   font-size: .75em;
   margin: 0;
   padding: 0 1em;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center; 
   background-color: $darkColor;
   color: rgb(214, 214, 214);
}
