// Import responsive

$darkColor: #000; // Dark color: Black
$bd: 2.5px solid $darkColor;  // Border
$roundCorners: 5px; // Round corner radius
$tinyShadow: -5px 5px 0px $darkColor; // Box shadow for small containers
$bigShadow: -7.5px 7.5px 0px $darkColor; // Box shadow for bigger containers

* {
   outline: none;
   box-sizing: border-box;
   text-decoration: none;
   // border: none !important;
   // font-family: 'Notable', sans-serif;
   // font-family: 'Abril Fatface', cursive;
   font-family: 'DM Serif Display', serif;
}

body {
   margin: 0;
   padding: 0;
}

// Each Section/Container
.section {
   width: 100%;
   min-height: 100px;
   background-color: #fff;
   color: $darkColor;
   margin: 20px auto;
   border: 1px solid #ddd;
}

// Section Break
hr {
   width: 50%;
   border: 1px solid #bbb;
   margin: 25px auto;
   text-align: center;
}

// First Introduction
.intro {
   height: 90vh;
   margin-top: 0;
   display: flex;
   justify-content: space-around;
   align-items: center;
   >* {
      width: 50%;
      // border: 1px solid $darkColor;
      text-align: center;
   }
   // Intro Left:  Name, Title & Social
   &__text {
      text-align: left;
      // border: 1px solid $darkColor;
      >* { 
         width: 50%; 
         margin: 15px auto;
         // border: 1px solid $darkColor;
      }
   }
   // Social Accounts
   &__social {
      width: 50%; height: 45px;
      display: flex;
      justify-content: start;
      align-items: center;
      >* {
         width: 45px; min-width: 45px; 
         height: 45px;
         box-shadow: $tinyShadow;
         border-radius: $roundCorners;
         margin: 7.5px;
         border: $bd;
         display: flex;
         justify-content: center;
         align-items: center;
         img { 
            width: 30px; 
            height: 30px;
         }
      }
   }
   // Intro Right: Profile Image/Illustration
   &__img {
      img {
         width: 250px;
         height: 250px;
         border-radius: 50%;
      }
   }
}

// Scroll Down Icon
.scroll-down {
   width: 100px;
   height: 100px;
   margin: -115px auto 0 auto;
   // border: 1px solid #000;
   text-align: center;
}

// Bio Container
.bio {
   // border: 1px solid #000;
   &__text {
      width: 60%;
      padding: 1.5em;
      box-shadow: $bigShadow;
      border-radius: $roundCorners;
      border: $bd;
      margin: 0 auto;
   }
   &__icon {
      width: 75px;
      height: 75px;
      background-color: #fff;
      margin: -36px auto 0 auto;
      border-radius: 50%;
      img {
         width: 100%;
         border-radius: 50%;
      }
   }
}

// Timeline: Experience
.timeline {
   height: 100px;
   border: 1px solid #000;
}

.projects {
   width: 100%;
   padding: 0 2em;
   text-align: center;
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      margin: 1em;
   }
   &__project {
      max-width: 300px;
      padding: 1em;
      box-shadow: $bigShadow;
      border-radius: $roundCorners;
      border: $bd;
      margin: 0 auto;
      // >* {
      // border: 1px solid #000;
      // }
      .icon {
         width: 75px;
         height: 75px;
         margin: 0 auto;
      }
      .name {
         height: 50px;
         font-size: 1.5em;
         font-weight: bold;
         line-height: 50px;
      }
      .desc {
         height: 150px;
         overflow: hidden;
      }
   }
   &__more {
      width: 150px;
      height: 50px;
      cursor: pointer;
      box-shadow: $tinyShadow;
      border-radius: $roundCorners;
      border: $bd;
      line-height: 47.5px;
      margin: 1.5em auto;
   }
}