* {
  outline: none;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: 'DM Serif Display', serif; }

body {
  margin: 0;
  padding: 0; }

.section {
  width: 100%;
  max-width: 1440px;
  min-height: 100px;
  background-color: #fff;
  color: #000;
  margin: 1em auto; }

hr {
  width: 50%;
  border: .5px solid #bbb;
  margin: 25px auto;
  text-align: center; }

.intro {
  height: 90vh;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .intro > * {
    width: 50%;
    text-align: center; }
  .intro__text {
    text-align: left; }
    .intro__text > * {
      width: 50%;
      margin: 15px auto; }
  .intro__social {
    width: 50%;
    height: 45px;
    display: flex;
    justify-content: start;
    align-items: center; }
    .intro__social > * {
      width: 45px;
      min-width: 45px;
      height: 45px;
      box-shadow: -4px 4px 0px #000;
      border-radius: 3px;
      margin: 7.5px;
      border: 1px solid #000;
      display: flex;
      justify-content: center;
      align-items: center; }
      .intro__social > * img {
        width: 30px;
        height: 30px; }
  .intro__img img {
    width: 250px;
    height: 250px;
    border-radius: 50%; }

.scroll-down {
  width: 100px;
  height: 100px;
  margin: -115px auto 0 auto;
  text-align: center; }

.bio__text {
  width: 60%;
  padding: 1.5em;
  box-shadow: -7.5px 7.5px 0px #000;
  border-radius: 3px;
  border: 1px solid #000;
  margin: 0 auto; }
.bio__icon {
  width: 75px;
  height: 75px;
  background-color: #fff;
  margin: -36px auto 0 auto;
  border-radius: 50%; }
  .bio__icon img {
    width: 100%;
    border-radius: 50%; }

.experience {
  text-align: center;
  min-height: 100px;
  padding-bottom: 1em; }
  .experience h1 {
    margin: 0 auto .5em auto; }
  .experience__container {
    width: 60%;
    box-shadow: -7.5px 7.5px 0px #000;
    border-radius: 3px;
    border: 1px solid #000;
    margin: 0 auto; }
  .experience__current {
    padding: 1em;
    width: 100%; }
    .experience__current > * {
      margin: .25em .5em .75em .5em; }
    .experience__current__link {
      width: 150px;
      height: 40px;
      line-height: 40px;
      background-color: #fff;
      display: block;
      border: 1px solid #000;
      margin: .5em auto;
      border-radius: 3px; }
  .experience__list {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .25em;
    margin: 0 auto; }
    .experience__list__item {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin: 0 .5em;
      border-radius: 50%;
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      background-color: #fff; }
      .experience__list__item span {
        display: block;
        width: 80%;
        height: 80%;
        border-radius: 50%; }
      .experience__list__item--active {
        width: 30px;
        height: 30px; }
        .experience__list__item--active span {
          background-color: #000; }
  .experience hr {
    width: 90%;
    border: 1.5px solid #000;
    border-radius: 1.5px;
    margin: 0 auto;
    position: relative;
    top: calc(-15.75px - .3em);
    z-index: 0; }

.projects {
  width: 100%;
  padding: 0 2em;
  text-align: center; }
  .projects__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 2em 0; }
  .projects__project {
    max-width: 275px;
    padding: 1em;
    box-shadow: -7.5px 7.5px 0px #000;
    border-radius: 3px;
    border: 1px solid #000;
    margin: 0 auto; }
    .projects__project .icon {
      width: 75px;
      height: 75px;
      margin: 0 auto; }
    .projects__project .name {
      height: 50px;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 50px; }
    .projects__project .desc {
      height: 150px;
      overflow: hidden; }
  .projects__more {
    width: 150px;
    height: 50px;
    cursor: pointer;
    box-shadow: -4px 4px 0px #000;
    border-radius: 3px;
    border: 1px solid #000;
    line-height: 47.5px;
    margin: 1.5em auto; }

.skills {
  text-align: center;
  padding: 0 2em; }
  .skills h1 {
    margin: 0; }
  .skills__container {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center; }
  .skills__side {
    width: 325px;
    margin: 0 3em; }
  .skills__list {
    width: 325px;
    padding: 1em;
    box-shadow: -7.5px 7.5px 0px #000;
    border-radius: 3px;
    border: 1px solid #000; }
    .skills__list li {
      list-style-type: square; }
  .skills__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    padding: .75em;
    margin: -25px 0 0 -25px; }

.interests {
  width: 100%;
  padding: 0 2em;
  text-align: center; }
  .interests__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 2em 0; }
  .interests__interest {
    width: 200px;
    height: 225px;
    padding: .75em;
    box-shadow: -7.5px 7.5px 0px #000;
    border-radius: 3px;
    border: 1px solid #000;
    margin: 0 3em; }
    .interests__interest .icon {
      width: 75px;
      height: 100px;
      padding: .5em;
      margin: 0 auto; }
    .interests__interest .name {
      height: 100px;
      font-size: 1.25em;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center; }
  .interests__more {
    max-width: 200px;
    height: 50px;
    box-shadow: -4px 4px 0px #000;
    border-radius: 3px;
    border: 1px solid #000;
    line-height: 47.5px;
    margin: 1.5em auto; }

.contact {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact__btn {
    width: 150px;
    height: 50px;
    cursor: pointer;
    box-shadow: -4px 4px 0px #000;
    border-radius: 3px;
    border: 1px solid #000;
    font-weight: bold;
    line-height: 47.5px;
    margin: 1em auto; }

.footer {
  height: 100px;
  font-size: .75em;
  margin: 0;
  padding: 0 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #d6d6d6; }

/*# sourceMappingURL=style.css.map */
